* {
  font-family: "AR One Sans", sans-serif;
  font-family: "Nunito", sans-serif;
  font-family: "Roboto", sans-serif;
  color: white;
}

#main {
  display: flex;
  height: 100px;
  width: 100%;
}

input,
button {
  font-size: 20px;
  border: 20px;
  margin-top: 30px;
}
body {
  min-height: 100vh;
  background-image: url("bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1,
h2,
img {
  margin-left: 20px;
}

#locationName {
  display: flex;
}

input {
  height: 23px;
  width: 350px;
  margin-left: 350px;
  margin-right: 20px;
  border: 2px solid white;
  padding: 7px;
  border-radius: 30px;
  color: white;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  font-size: 17px;
}

button {
  height: 25px;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  margin-top: 35px;
}

img {
  width: 80px;
}

::placeholder {
  color: white;
  opacity: 1;
}

#weat {
  font-size: 40px;
  margin-left: 10px;
  font-weight: bolder;
}

#feels,
#humid {
  width: 55px;
  height: 55px;
}

#side-div {
  display: flex;
  width: 250px;
  height: 70px; /* Adjust the height as needed */
  align-items: flex-start; /* Center items horizontally */
  justify-content: flex-start; /* Align items to the start vertically */
  margin-top: 20px;
}
#feelsLike,
#ha {
  align-self: flex-start;
  justify-content: flex-start;
}
#temp,
#humidity {
  margin-left: 10px;
  margin-top: 18px;
  font-size: 20px;
  font-weight: bolder;
}

#ha {
  margin-left: 15px;
}
#HumidA {
  display: flex;
}
